html {
    background: #5cd1f5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.links {
    font-family:'Times New Roman', Times, serif
}

a:visited {
    border-color: black;
}

p:first-line {
    color: black;
}

.blog-post-second {
    border-bottom: 1px dotted #242424;
}

.img-container {
    float: left;
    margin-right: 10px;
    text-size-adjust: 20px;
    font-size: larger;
}

.show-reviews {
    display: flex;
    margin: 20px;
    padding: 20px;
    background: rgb(224, 120, 118);
    justify-content: space-evenly;
}

.show-reviews-2 {
    padding: 20px;
    margin: 15px;
    background: rgb(177,112,169);
}  

.form-flex {
    display:flex;
    flex-direction: column;
    background: rgb(224,120,118)
}

.form-flex-2 {
    margin: 20px;
    padding: 20px;
    background: rgb(177,112,169)
}