html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.links {
    font-family:'Times New Roman', Times, serif
}

a:visited {
    border-color: black;
}

p:first-line {
    color: black;
}

.blog-post-second {
    border-bottom: 1px dotted #242424;
}

.img-container {
    float: left;
    margin-right: 10px;
    text-size-adjust: 20px;
    font-size: larger;
}